<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airshiplay.framework"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.airshiplay.mobile.application.MobileApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/appTheme" >
        <activity
            android:name="com.airshiplay.framework.MainUI"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.airshiplay.framework.PullToRefreshUI" >
        </activity>

        <receiver android:name="com.airshiplay.framework.receiver.PackageChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.airshiplay.framework.example.CustomViewGroupUI"
            android:label="@string/title_activity_scroll_view_flow_example" >

        </activity>
        <activity android:name="com.airshiplay.framework.example.sliding.SlidingLayoutDemo" >
        </activity>
        <activity
            android:name="com.airshiplay.framework.example.pulltorefresh.LauncherActivity"
            android:label="@string/pulltorefreshactivity" >
             
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshExpandableListActivity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshGridActivity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshHorizontalScrollViewActivity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshListActivity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshListFragmentActivity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshListInViewPagerActivity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshScrollViewActivity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshViewPagerActivity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshWebView2Activity" >
        </activity>
        <activity android:name="com.airshiplay.framework.example.pulltorefresh.PullToRefreshWebViewActivity" >
        </activity>
        <activity
            android:name="com.airshiplay.framework.example.wheel.WheelDemo"
            android:label="WheelDemo" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name="com.airshiplay.framework.platform.PlatformLoginActivity" >
        </activity>
        <activity
            android:name="com.airshiplay.framework.example.wheel.TimeActivity"
            android:label="time" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="framework.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.airshiplay.framework.example.wheel.WheelTest"
            android:label="wheeltest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="framework.wheel.WHEEL_SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.airshiplay.framework.example.TouchDelegateUI"
            android:label="TextView" >
        </activity>
        <activity
            android:name="com.airshiplay.framework.example.Fragmentlauncher"
            android:label="AndroidFramework" >
           
        </activity>
        <activity
            android:name="com.airshiplay.framework.ImageActivity"
            android:label="ImageActivity" >
        </activity>
    </application>

</manifest>