<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airshiplay.mobile.android.framework"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <application android:label="@string/app_name" android:name="com.airshiplay.mobile.android.framework.FrameWorkApplication">
        <activity
            android:name="com.airshiplay.mobile.android.framework.MainUI"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.airshiplay.mobile.android.framework.PullToRefreshUI" >
        </activity>

        <receiver android:name="com.airshiplay.mobile.android.framework.receiver.PackageChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.airshiplay.mobile.android.framework.example.viewflow.ScrollViewFlowExample"
            android:label="@string/title_activity_scroll_view_flow_example" >
          
        </activity>
        <activity android:name="com.airshiplay.mobile.android.framework.example.sliding.SlidingLayoutDemo">
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>